<footer>
    <ul class="share-group">
    	<li><a href="https://www.linkedin.com/in/miao-dong-265313b5" target="_blank"><img src="img/icon/in.png"/></a></li>
    	<li><a href="https://www.facebook.com/" target="_blank"><img src="img/icon/fb.png"/></a></li>
    	<li><a href="https://github.com/miaoGitHubs" target="_blank"><img src="img/icon/github.png"/></a></li>
    	<li><a href="https://www.instagram.com/miaomiaodiary/" target="_blank"><img src="img/icon/ins.png"/></a></li>
    </ul>
    <div class="copyright">&copy Miao -{{currentYear}}</div>
</footer>
