<nav>
    <div class="logo"><span><img src="img/icon/meow.png"/></span><span><a href="/">Miao</a></span></div>
    <span id="sidebar_trigger"><a href="#"><img src="img/icon/sidebar.png"/></a></span>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

</nav>