<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <title>{{pageTitle}}</title>
</head>
<body>
<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->

    <!-- Page head begin-->
    <header>
        <div id="banner">
            <div class="inner">
                <img src=""/>
                <p class="sub-heading">Miao`s contact info</p>
            
            <div>
                Please reach out by my email: mdongjob@gmail.com
            </div>
            </div>
        </div>
    </header>
    <!-- Page head end-->
    <!-- Page content begin-->
    <div class="content">
        
    </div>
    <!-- Page content end-->
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
    <div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
	{{> sideBar}}
</div>

</body>
</html>