<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/css/contact.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->

    <!-- Page head begin-->
    <header>
        <div id="banner">
            <div class="inner">
                <div class="rotate"><img class="icons" src="img/icon/email.png"/></div>
                <p class="sub-heading">Contact info</p>
                <div>
                    Please reach out by my email: mdongjob@gmail.com
                </div>
            </div>
        </div>
    </header>
    <!-- Page head end-->
    <!-- Page content begin-->
    <div class="content">
        <section class="leave_msg">
            <h3>Leave Message to Miao</h3>
            <div class="hr"></div>
            <form action="/insert" method="post">
                <div class="input">
                    <label for="author">Author</label>
                    <input type="text" id="author" name="author" />
                </div>
                <br/>
                <div class="input">
                    <label for="msg">Message</label>
                    <textarea type="text" id="msg" name="msg"></textarea>
                </div>
                <br/>
                <button type="submit">Save</button>
            </form>
        </section>
        <section class="previous_msg">
            <div>
                <h3>Previous Message</h3>
                <div class="hr"></div>
                <div>
                    {{# each items}}
                        <article class="item">
                            <div class="author">
                                <label>Author : </label>
                                <span class="text">{{this.author}}</span>
                            </div>
                            <br/>
                            <div class="msg">
                                <label>Message : </label>
                                <div class="text">{{this.msg}}</div>
                            </div>
                            <form action="/delete" method="post" class="deleteBtn">
                                <input id="id" name="id" value="{{this._id}}" style="display:none"/>
                                <button type="submit"> Delete</button>
                            </form>
                        </article>
                        <br/>

                    {{/each}}
                </div>
            </div>
        </section>
        <section class="discription">
            <div class="hr"></div>
            <div class="dev">
                <p>
                    Using <a href="https://nodejs.org/en/about/">Node.js</a> and <strong>Express</strong> as framework for my web app, already pushed it to my <a href="https://github.com/miaoGitHubs">GitHub</a> and deployed it on <strong>Heroku</strong>.
                    To avoid image missing problem on Heroku, use <a href="https://cloudinary.com/">Cloudinay</a> to save all images for this app. Using <a href="https://www.mongodb.com/">MongoDB</a> to implement above "Message" section. <a href="http://handlebarsjs.com/">HandleBars.js</a>, <strong>Javascript</strong>,
                    <strong>JQuery</strong> all have been used for functionality in this app. Used <strong>HTML5</strong> and <strong>CSS3</strong> to implement the web page layout design.
                </p> 
            </div>
            <div class="design">
                <p>
                    Used <strong>PhotoShop</strong> to refine my photos, and <strong>Illustrator</strong> to create icon, logo, typegraphy. All images on my website are created by myself, therefore, I definitely own the <strong>copyright</strong>.
                </p>
            </div>
            <div class="thanks">
                <p>
                    Thanks for visiting my website!
                </p>
            </div>
        </section>

    </div>
    <!-- Page content end-->
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
    <div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
	{{> sideBar}}
</div>
<!--Go Top -->
<a href="#"><img class="backTotop" src="img/icon/top.png" /></a>

</body>
</html>