<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/css/contact.css" />
</head>
<body>
<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->

    <!-- Page head begin-->
    <header>
        <div id="banner">
            <div class="inner">
                <img src=""/>
                <p class="sub-heading">Miao`s contact info</p>
                <div>
                    Please reach out by my email: mdongjob@gmail.com
                </div>
                <div class="spaceHolder"></div>
                <div class="godown"><a href="#"><img src="img/icon/top.png"/></a></div>
            </div>
        </div>
    </header>
    <!-- Page head end-->
    <!-- Page content begin-->
    <div class="content">
        <section class="discription">
            <div class="dev">
                <p>
                    Using <a href="https://nodejs.org/en/about/">Node.js</a> as framework for this web app, I have push it to my <a href="https://github.com/miaoGitHubs">GitHub</a> and deployed it on <strong>Heroku</strong>. To avoid image missing problem on Heroku, I am using <a href="https://cloudinary.com/">Cloudinay</a> to save all images for this app. <a href="http://handlebarsjs.com/">HandleBars.js</a>, <strong>Javascript</strong>, <strong>JQuery</strong> all have been used for functionality in this app. I used <strong>HTML5</strong> and <strong>CSS3</strong> to implement the web page design. 
                </p> 
            </div>
            <div class="design">
                <p>
                    I used <strong>PhotoShop</strong> to refine my photos, and <strong>Illustrator</strong> to create icon, logo, typegraphy. All images on my website are created by myselfy, therefore, I definitely own these <strong>copyright</strong>. 
                </p>
            </div>
            <div class="thanks">
                <p>
                    Thanks for your interest in my profile!
                </p>
            </div>
        </section>
    </div>
    <!-- Page content end-->
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
    <div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
	{{> sideBar}}
</div>
<!--Go Top -->
<img class="backTotop" src="img/icon/top.png" />

</body>
</html>