<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/gallery.css" />
</head>
<body>

<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->
    <!-- Page content begin-->
    <div class="content">
        <!-- slide show -->
        <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="img/pic/pic04.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="img/pic/pic05.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="img/pic/pic06.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="img/pic/pic07.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="img/pic/pic08.jpg" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <ul class="dotul">
                   <li><span class="dot" onclick="currentSlide(1)"></span> </li>
                   <li><span class="dot" onclick="currentSlide(2)"></span> </li>
                   <li><span class="dot" onclick="currentSlide(3)"></span> </li>
                   <li><span class="dot" onclick="currentSlide(4)"></span> </li>
                   <li><span class="dot" onclick="currentSlide(5)"></span> </li>
                </ul>
        </div>
        <!-- slide show end -->
        <section class="third-section">
            <div class="heading-wrapper">
                <h2>Gallery</h2>
                <div class="hr"> </div>
                <div class="sub-padding">To a developer, design is my interest. Using Illstrator, PhotoShop and InDesign, I created icon, logo, typegraphy, refined photos. 
                </div>
            </div>
            <section class="first">
            <div class="responsive">
                <div class="gallery">
                    <div class="card">
                        <h2><a href="/photos">Photo</a></h2>
                    </div>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <div class="card">
                        <h2><a href="/logo"">Logo</a></h2>
                    </div>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <div class="card">
                        <h2><a href="/icon">Icon</a></h2>
                    </div>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <div class="card">
                        <h2><a href="/typegraphy">Typegraphy</a></h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
    </div>
    <!-- Page content end-->
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
<div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
    {{> sideBar}}
</div>
<!--Go Top -->
<img class="backTotop" src="img/icon/top.png" />

<script src="/js/gallery.js"></script>

</body>
</html>