<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
        {{> navBar}}
    </div>
    <!-- /nav -->

    <!-- Page head begin-->
    <div id="banner">
        <div class="inner">
            <img class="img-circle" src="https://res.cloudinary.com/miaocloud/image/upload/v1538321051/headshot_qezt3r.jpg"/>
            <p class="sub-heading">Welcome to Miaos website</p>
            <button id="main-btn"><a href="/file/Miao Dong.pdf" download="Miao Dong">My Resume</a></button>
            <div class="godown"><a href="#"><img src="img/icon/top.png"/></a></div>
        </div>

    </div>
    <!-- Page head end-->
    <!-- Page content begin-->
    <div class="content">
        <section class="first-section">
        	<div class="wrapper">
                <div>
                    <h2>Inspiration comes from everywhere</h2>
                    <div class="hr"></div>
                    <p class="sub-padding">Travel around this country and use camera to record all stories</p>
                </div>
        	</div>
        </section>
        <section class="second-section">
        	<div class="article-preview">
        	    <div class="img-section">
        	        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318387/pic01_vfkyim.jpg" alt="">
        	    </div>
        	    <div class="text-section">
        	        <div class="sub-heading">Key West</div>
        	        <p>
                        The paradise of beach and sunshine
        	        </p>
        	    </div>
        	</div>
            <div class="article-preview">
                <div class="text-section">
                    <div class="sub-heading">Manhattan</div>
                    <p>
                        The prosperous internationalized metropolis
                    </p>
                </div>
                <div class="img-section">
                    <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318347/pic02_afbi1r.jpg" alt="">
                </div>
            </div>
            <div class="article-preview">
                <div class="img-section">
                    <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318351/pic03_yuytnu.jpg" alt="">
                </div>
                <div class="text-section">
                    <div class="sub-heading">Antelope Canyon</div>
                    <p>
                        The gorgeous creation by nature
                    </p>
                </div>
            </div>
        </section>
        <section class="third-section">
        	<div class="heading-wrapper">
                <h2>Technique Package</h2>
                <div class="hr"> </div>
                <div class="sub-padding"></div>
        	</div>
        	<section class="the_grid">
                <div class="card">
                    <h2>Illstrator</h2>
                </div>
                <div class="card">
                    <h2>InDesign</h2>
                </div>
                <div class="card">
                    <h2>Photoshop</h2>
                </div>
                <div class="card">
                    <h2>HTML 5</h2>
                </div>
                <div class="card">
                    <h2>CSS3</h2>
                </div>
                <div class="card">
                    <h2>JavaScript</h2>
                </div>
                <div class="card">
                    <h2>Java</h2>
                </div>
                <div class="card">
                    <h2>jQurey</h2>
                </div>
                <div class="card">
                    <h2>Bootstrap</h2>
                </div>
        	</section>
            <div class="clearfix"></div>
        </section>
    </div>
    <!-- Page content end-->
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
<div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
    {{> sideBar}}
</div>
<!--Go Top -->
<a href="#"><img class="backTotop" src="img/icon/top.png" /></a>
</body>
</html>