<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>
<body>

<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->

    <!-- Page head begin-->
    <header>
    	<div id="banner">
    		<div class="inner">
    		    <img class="img-circle" src="http://res.cloudinary.com/miaocloud/image/upload/v1509318318/headshot_tlfd82.jpg"/>
    			<p class="sub-heading">Welcome to Miao`s website</p>
    			<button id="main-btn"><a href="/file/Miao Dong.pdf" download="Miao Dong">My Resume</a></button>
                <div class="godown"><a href="#"><img src="img/icon/top.png"/></a></div>
    		</div>

    	</div>
    </header>
    <!-- Page head end-->
    <!-- Page content begin-->
    <div class="content">
        <section class="first-section">
        	<div class="wrpper">
                <div>
                    <h2>Inspiration Get Into Head</h2>
                    <div class="hr"></div>
                    <p class="sub-padding">Just take my backpack, traval around this country. Use camera to record the view I saw, the story I heard.</p>
                </div>
        	</div>
        </section>
        <section class="second-section">
        	<div class="article-preview">
        	    <div class="img-section">
        	        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318387/pic01_vfkyim.jpg"alt="">
        	    </div>
        	    <div class="text-section">
        	        <div class="sub-heading">Key West</div>
        	        <p>
                        The southernmost island of this US, which is full of beach and sunshine.
        	        </p>
        	    </div>
        	</div>
        	<div class="article-preview">
        	    <div class="text-section">
        	        <div class="sub-heading">Manhattan</div>
        	        <p>
        	            A internationalized metropolis which is the cultural, financial, media, and entertainment capital of the world.
        	        </p>
        	    </div>
        	    <div class="img-section">
        	        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318347/pic02_afbi1r.jpg"alt="">
        	    </div>
            </div>
        	<div class="article-preview">
        	    <div class="img-section">
        	        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318351/pic03_yuytnu.jpg"alt="">
        	    </div>
        	    <div class="text-section">
        	        <div class="sub-heading">Antelope Canyon</div>
        	        <p>
        	        	It located in American Southwest which is a popular site for photographers.
        	        </p>
        	    </div>
        	</div>
        </section>
        <section class="third-section">
        	<div class="heading-wrapper">
                <h2>Technic Package</h2>
                <div class="hr"> </div>
                <div class="sub-padding">To a developer, design is my interest. With these tools and technic, I work out my idea into these varied design. 
                </div>
        	</div>
        	<section class="the_grid">
                <div class="card">
                    <h2>Illstrator</h2>
                    <p>Commonly used for web design which works on vector graphics. With this tool, I can create logos, icons, drawings, typography, and complex illustrations for any medium.</p>
                </div>
                <div class="card"></div>
                <div class="card">
                    <h2>Photoshop</h2>
                    <p>Most famous graphics editor. Its uses range from full featured editing of large batches of photos to creating intricate digital paintings and drawings that mimic those done by hand.</p>
                </div>
                <div class="card"><img src="/"/></div>
                <div class="card">
                    <h2>InDesign</h2>
                    <p>A desktop publishing software application produced. It can be used to create works such as posters, flyers, brochures, magazines, newspapers, presentations, books and ebooks.</p>
                </div>
                <div class="card"></div>
                <div class="card">
                    <h2>HTML 5</h2>
                    <p>A markup language used for structuring. The fifth version includes detailed processing models to encourage more interoperable implementations.</p>
                </div>
                <div class="card"></div>
                <div class="card">
                    <h2>CSS3</h2>
                    <p>The latest version of the Cascading Style Sheets language. It brings rounded corners, shadows, gradients, transitions, animations, flexible box and grid layouts.</p>
                </div>
                <div class="card"></div>
                <div class="card">
                    <h2>JavaScript</h2>
                    <p>This scripting language is dynamic, and supports object-oriented, imperative, and functional programming styles. Using this language to build dyanmically web page.</p>
                </div>
                <div class="card"></div>
                <div class="card">
                    <h2>Java</h2>
                    <p>A general-purpose computer programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few implementation dependencies as possible.</p>
                </div>
                <div class="card"></div>
                <div class="card">
                    <h2>C#</h2>
                    <p>A multi-paradigm programming language encompassing strong typing, functional, generic, object-oriented (class-based), and component-oriented programming disciplines.</p>
                </div>
                <div class="card"></div>
                <div class="card">
                    <h2>Python</h2>
                    <p>An interpreted, object-oriented, high-level programming language with dynamic semantics.</p>
                </div>
                <div class="card"></div>
        	</section>
        </section>
    </div>
    <!-- Page content end-->
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
<div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
	{{> sideBar}}
</div>
<!--Go Top -->
<a href="#"><img class="backTotop" src="img/icon/top.png" /></a>
</body>
</html>