<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/photos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->
    <!-- Page content begin-->
    <div class="content">
        <section class="titleSection">
            <div class="pageName">
                <a href="/gallery"><span class="goback">Gallery </span></a><span>>> Icon</span>
            </div>
        </section>
        <section class="the_grid">
            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509320462/line_luhxe2.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509320462/line_luhxe2.jpg" style="height:400px;">
                    </a>
                    <div class="desc">Sketch</div>
                </div>
            </div>
            <div class="card">
                <div class="gallery" >
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509320462/grey_objsyz.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509320462/grey_objsyz.jpg" style="height:400px;">
                    </a>
                    <div class="desc">Gery</div>
                </div>
            </div>
            <div class="card">
                <div class="gallery" >
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509320462/color_dark_wl3di5.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509320462/color_dark_wl3di5.jpg" style="height:400px;">
                    </a>
                    <div class="desc">shade</div>
                </div>
            </div>
            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509320462/color_fe1lf3.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509320462/color_fe1lf3.jpg" style="height:400px;">
                    </a>
                    <div class="desc">Color</div>
                </div>
            </div>
        </section>

        <div class="clearfix"></div>
        <br><br>
    </div>
    <!-- Page content end-->
    
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
<div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
    {{> sideBar}}
</div>

</body>
</html>