<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/photos.css" />
</head>
<body>
<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->
    <!-- Page content begin-->
    <div class="content">
        <section class="titleSection">
            <div class="pageName">Logo</div>
        </section>
        <section class="first">
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="img/logo/bird.jpg">
                        <img src="img/logo/bird.png">
                   </a>
                   <div class="desc">Green Bird</div>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="img/logo/fox.jpg">
                        <img src="img/logo/fox_partial.png">
                   </a>
                   <div class="desc">Fox1</div>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="img/logo/foxs.jpg">
                        <img src="img/logo/foxs.png">
                   </a>
                   <div class="desc">Fox2</div>
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <a target="_blank" href="img/logo/icecream.jpg">
                        <img src="img/logo/icecream.png">
                   </a>
                   <div class="desc">Penuins</div>
                </div>
            </div>
        </section>
        <br>
        <div class="clearfix"></div>
    </div>
    <!-- Page content end-->
    
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
<div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
    {{> sideBar}}
</div>

</body>
</html>