<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/photos.css" />
</head>
<body>
<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->
    <!-- Page content begin-->
    <div class="content">
        <section class="titleSection">
            <div class="pageName">
                <a href="/gallery">Gallery >></a><span>Logo</span>

            </div>
        </section>
        <div class="photos">
            <section>
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509320435/bird_hakc7k.jpg">
                            <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509320435/bird_gb27i7.png">
                        </a>
                        <div class="desc">Green Bird</div>
                    </div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509320435/fox_spubiv.jpg">
                            <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509320435/fox_partial_venseo.png">
                        </a>
                        <div class="desc">Fox1</div>
                    </div>
                </div>
            </section>
            <section>
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509320436/foxs_egaivv.jpg">
                            <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509320435/foxs_yey0a1.png">
                        </a>
                        <div class="desc">Fox2</div>
                    </div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509320436/icecream_vw7oz9.jpg">
                            <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509320436/icecream_tguy47.png">
                        </a>
                        <div class="desc">Penuins</div>
                    </div>
                </div>
            </section>
            <br>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="spaceHolder">
    </div>
    <!-- Page content end-->
    
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
<div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
    {{> sideBar}}
</div>

</body>
</html>