<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <link rel="stylesheet" type="text/css" href="/css/photos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->
    <!-- Page content begin-->
    <div class="content">
        <section class="titleSection">
            <div class="pageName">
                <a href="/gallery"><span class="goback">Gallery </span></a><span>>> Photos</span>
            </div>
        </section>
        <section class="the_grid">
            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509318351/pic03_yuytnu.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318351/pic03_yuytnu.jpg">
                    </a>
                    <div class="desc">Antelope Canyon</div>
                </div>
            </div>
            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509318393/pic06_rnzrl2.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318393/pic06_rnzrl2.jpg">
                    </a>
                    <div class="desc">Key West</div>
                </div>
            </div>
            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509318399/pic10_rkb4x8.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318399/pic10_rkb4x8.jpg" >
                    </a>
                    <div class="desc">Antelope Canyon</div>
                </div>
            </div>
            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509318387/pic01_vfkyim.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318387/pic01_vfkyim.jpg">
                    </a>
                    <div class="desc">Key West</div>
                </div>
            </div>

            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509318347/pic02_afbi1r.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318347/pic02_afbi1r.jpg" >
                    </a>
                    <div class="desc">Manhattan</div>
                </div>
            </div>
            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509318349/pic05_wjfoz5.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318349/pic05_wjfoz5.jpg" >
                    </a>
                    <div class="desc">Manhattan</div>
                </div>
            </div>
            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509318387/pic09_giafkz.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318387/pic09_giafkz.jpg" >
                    </a>
                    <div class="desc">Stone Mountian</div>
                </div>
            </div>
            <div class="card">
                <div class="gallery">
                    <a target="_blank" href="http://res.cloudinary.com/miaocloud/image/upload/v1509318397/pic11_mh4dim.jpg">
                        <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318397/pic11_mh4dim.jpg">
                    </a>
                    <div class="desc">Key West</div>
                </div>
            </div>
        </section>

        <div class="clearfix"></div>

        <br><br>
    </div>
    <!-- Page content end-->

    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
<div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
    {{> sideBar}}
</div>

</body>
</html>