<!DOCTYPE html>
<html>
<head>
    {{> header}}
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/css/projects.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="main-wrapper">
    <!-- nav -->
    <div class="sticky">
    {{> navBar}}
    </div>
    <!-- /nav -->

    <!-- Page head begin-->
    <header>
        <div id="banner">
            <div class="inner">
                <div class="shake"><img class="icons" src="img/icon/idea.png"/></div>
                <p class="sub-heading">Miao`s Projct</p>
            </div>
        </div>
    </header>
    <!-- Page head end-->
    <!-- Page content begin-->
    <div class="content">
        <section class="first-section">
            <div class="article-preview">
                <div class="img-section">
                    <img src="http://res.cloudinary.com/miaocloud/image/upload/v1509318313/expriement_y7tztz.png" alt="">
                </div>
                <div class="text-section">
                    <div class="sub-heading">VR Training Game </div>
                    <p>
                        Try to use 3D audio in the virtual environment for navigation. Aim at helping visually impaired
                        people to learn using sound to navigate in their daily life.
                    </p>
                </div>
            </div>

            <div class="article-preview">
                <div class="text-section">
                    <div>
                        <span class="sub-heading">
                            Angular single page app
                        </span>

                        <a href="http://miaomeanapp.herokuapp.com/" target="_blank">(goto app)</a>
                    </div>
                    <p>
                        Using Angular to build a simple login and post message app. User can sign up an account.
                        After login, user has permission to create new post, and edit, delete the post they already created.
                    </p>
                </div>
                <div class="img-section">
                    <img src="https://res.cloudinary.com/miaocloud/image/upload/v1556763381/meanApp_qcdkyc.jpg" alt="">
                </div>
            </div>
            <!--<div class="article-preview">
                <div class="img-section">

                </div>
                <div class="text-section">
                    <div class="sub-heading">React.js single page app </div>
                </div>
            </div>
            <div class="article-preview">
                <div class="text-section">
                    <div class="sub-heading">Angular.js single page app </div>
                </div>
                <div class="img-section">

                </div>
            </div>-->
        </section>
    </div>
    <!-- Page content end-->
    <!-- Page foot begin-->
    {{> footer}}
    <!-- Page foot end-->
</div>
    <div class="overlap"></div>
<!--Side Bar -->
<div id="sidebar">
	{{> sideBar}}
</div>
<!--Go Top -->
<a href="#"><img class="backTotop" src="img/icon/top.png" /></a>

</body>
</html>
</html>
