button{
	width: 80px;
	height: 40px;
	border: 1px solid #F6EDD3;
	border-radius: 10px;
	background: #629EA6;
	color: #F6EDD3;
	margin: 5px;
}

/*banner**/
.rotate img{
	-webkit-animation: rotation 0.5s 1 linear;
}

@-webkit-keyframes rotation {
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}

/*message*/
.leave_msg{
	width: 100%;
	background:#629EA6;
	text-align: center;
	color: #F6EDD3;
	padding: 50px 150px;
}

.leave_msg button{
	background: #405F6E;
}

.leave_msg .hr{
    background:url('/img/frame.png');
    background-repeat: repeat-x;
    background-size: 20%;
    width:100%;
}

.leave_msg label{
    display:block;
    width:20%;
    text-align: right;
    float: left;
    margin-right: 20px;
}

.leave_msg input{
    display: block;
    width: 30%;
    border: 1px solid #F6EDD3;
    border-radius: 5px;
}

.leave_msg textarea{
    display: block;
    width: 60%;
    height: 100px;
    border: 1px solid #F6EDD3;
    border-radius: 5px;
}

.previous_msg{
    width: 100%;
    background:#405F6E;
    text-align: center;
    color: #F6EDD3;
    padding: 50px 150px;
}

.previous_msg .hr{
    background:url('/img/frame.png');
    background-repeat: repeat-x;
    background-size: 20%;
    width:100%;
}

.previous_msg label{
	display:block;
	width:20%;
	text-align: right;
	float: left;
	margin-right: 20px;
}

.previous_msg .text{
	width: 90%;
	display: block;
	text-align: left;
	margin: 5px;
}

.item{
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #F6EDD3;
	border-radius: 5px;
}

/*description*/
.description{
	width: 100%;
	background:#629EA6 ;
	text-align: center;
	color: #F6EDD3;
	padding: 5px 0;
}

.description .hr{
	background:url('/img/frame.png');
	background-repeat: repeat-x;
	background-size: 18%;
	width:80%;
}

.description a{
	text-decoration: none;
	font-weight: bold;
}

.description a:hover{
	color: #102F4A;
}

.description div{
	margin:10%;
}

@media only screen and (min-width: 1800px){
	nav{
		width: 1000px;
		margin: auto;
	}

	.leave_msg{
		width: 1000px;
		margin: auto;
	}

    .previous_msg{
        width: 1000px;
        margin: auto;
    }

	.description{
		width: 1000px;
		margin: auto;
	}

	footer{
		width: 1000px;
		margin: auto;
	}
}

@media only screen and (max-width: 1800px){
	nav{
		width: 1000px;
		margin: auto;
	}

	.leave_msg{
		width: 1000px;
		margin: auto;
	}

    .previous_msg{
        width: 1000px;
        margin: auto;
    }

	.description{
		width: 1000px;
		margin: auto;
	}

	footer{
		width: 1000px;
		margin: auto;
	}
}


@media only screen and (max-width: 1250px){
	nav{
		width: 800px;
		margin: auto;
	}

	.leave_msg{
		width: 800px;
		margin: auto;
	}

    .previous_msg{
        width: 800px;
        margin: auto;
    }


    .description{
		width: 800px;
		margin: auto;
	}

	footer{
		width: 800px;
		margin: auto;
	}

	.article-preview > div{
		height: 300px;
	}
	.first-section .img-section p{
		font-size: 13px;
	}
}

@media only screen and (max-width: 800px){
	nav{
		width: 100%;
	}

	.leave_msg{
		width: 100%;
		padding: 50px;
	}

	.leave_msg input{
		width: 40%;
	}

	.leave_msg textarea{
		width: 70%;
	}

    .previous_msg{
        width: 100%;
		padding: 50px;
    }

    .description {
		width: 100%;
	}

	footer{
		width: 100%;
	}
}

@media only screen and (max-width: 500px){
	.leave_msg input{
		width: 150px;
	}

	.leave_msg textarea{
		width: 80%;
		margin-left:20px;
	}

	.previous_msg label{
		display: none;
	}

    .createdDate{
        display: block;
    }
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
