.discription{
	background:#629EA6 ;
	text-align: center;
	color: #F6EDD3;
	padding: 100px 0;
}

.discription a{
	text-decoration: none;
	font-weight: bold;
}

.discription a:hover{
	color: #102F4A;
}

.discription div{
	margin:10%;
}