/**
    banner
*/

#banner{
	background: rgba(0,0,0,0.1);
	min-height:650px;
}

#banner .inner{
	max-width:300px;
	text-align: center;
	color:#F6EDD3;
	margin:0 auto;
	position:relative;
	top:160px;
}

#banner .inner img{
	margin:0;
	color: #F6EDD3;
}

#banner button{
	border:none;
	background: #629EA6;
	color:#F6EDD3;
	padding:14px 40px;
}

#banner .inner .try{
	margin-top: 300px;
	color: #F6EDD3;
}

.sub-heading{
	line-height:30px;
	margin:30px 0;
}