/* Slideshow container */
.slideshow-container {
	  top:30px;
    width: 60%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none ;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  margin-top: -5%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.slideshow-container img{
  margin-top:10%;
  resize: both;
}

.dotul{
    text-align:center;
    margin-top: -5%;
}

.dotul li{
	display: inline;
}

.active, .dot:hover {
  background-color: #555;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

/**
    third
*/
.circle-section {
  width: 100%;
  padding: 80px;
  background:#588E95;
  color: #F6EDD3;
  text-align: center;
}

.circles{
   margin: auto;
}

.circle-section .heading-wrapper{
  text-align: center;
}

.circle-section .hr{
    background:url('/img/frame.png');
    background-repeat: repeat-x ;
    background-size: 20%;
    width:65%;
}

* {
    box-sizing: border-box;
}

.card{
    background-color: rgba(0,0,0,0.30);
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.card:hover {
    background-color: rgba(0,0,0,0.50);
}

.card h3{
    padding-top: 40%;
}

.card h3 a{
    text-decoration: none;
}

.circle {
    display: inline-block;
}

@media only screen and (min-width: 1800px){
    
    nav{
        width: 1000px;
        margin: auto;
    }

    .gallery{
        width: 1000px;
        margin: auto;
        height: 600px;
    }

    footer{
        width: 1000px;
        margin: auto;
    }

    .circle-section {
        width: 1000px;
        margin: auto;
    }

    .circle-section .hr{
        background-size: 16%;
    }
}

@media only screen and (max-width: 1800px){
    nav{
        width: 1000px;
        margin: auto;
    }

    .gallery{
        width: 1000px;
        margin: auto;
        height: 550px;
    }

    footer{
        width: 1000px;
        margin: auto;
    }

    .circle-section {
        width: 1000px;
        margin: auto;
    }

    .circle-section .hr{
      background-size: 16%;
    }
}

@media only screen and (max-width: 1250px){
    nav{
        width: 800px;
        margin: auto;
    }

    .gallery{
        width: 800px;
        margin: auto;
        height: 450px;
    }

    footer{
        width: 800px;
        margin: auto;
    }

    .circle-section {
        width: 800px;
        margin: auto;
    }
}

@media only screen and (max-width: 800px){
    nav{
        width: 100%;
    }

    .gallery{
        width: 600px;
        margin: auto;
        height: 350px;
    }

    footer{
        width: 100%;
    }

    .circle-section {
        width: 100%;
    }

}

@media only screen and (max-width: 600px){
    .gallery{
        display: none;
    }
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
