/*banner*/
.link_icons{
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-top: -10px;
}
.shake img{
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -1px) rotate(-10deg); }
	20% { transform: translate(-1px, 1px) rotate(10deg); }
	30% { transform: translate(1px, 1px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(10deg); }
	50% { transform: translate(-1px, 1px) rotate(-10deg); }
	60% { transform: translate(0px, 0px) rotate(0deg); }
	70% { transform: translate(0px, 0px) rotate(0deg); }
	80% { transform: translate(0px, 0px) rotate(0deg); }
	90% { transform: translate(0px, 0px) rotate(0deg); }
	100% { transform: translate(0px, 0px) rotate(0deg); }
}

/** first section
*/

.first-section{
	margin-top: -150px;
	background:#10364A;
	color: #F6EDD3;
}

.article-preview > div{
	float: left;
    height: 350px;
}

.article-preview:after{
    content:"";
    display: block;
    clear:both;
}


.img-section{
	width:45%;
}

.img-section img{
	width: 100%;
	height: 100%;
}

.text-section{
	position: relative;
	top:50px;
	left:35px;
	width: 55%;
}

.text-section p{
	margin:7%;
	width: 80%;
	font-size: 16px;
}

.text-section .sub-heading{
	font-size: 25px;
	margin-top: 0;
}

.text-section .sub-heading:hover{
	margin-left: 5px;
}

.text-section > * {
	max-width: 90%;
}

.article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.2);
}

@media only screen and (min-width: 1800px){
	nav{
		width: 1000px;
		margin: auto;
	}

	.content{
		width: 1000px;
		margin: auto;
	}

	footer{
		width: 1000px;
		margin: auto;
	}
}

@media only screen and (max-width: 1800px){
	nav{
		width: 1000px;
		margin: auto;
	}

	.content{
		width: 1000px;
		margin: auto;
	}

	footer{
		width: 1000px;
		margin: auto;
	}
}


@media only screen and (max-width: 1250px){
	nav{
		width: 800px;
		margin: auto;
	}

	.content{
		width: 800px;
		margin: auto;
	}

	footer{
		width: 800px;
		margin: auto;
	}

	.article-preview > div{
        height: 300px;
    }

    .first-section .img-section p{
	    font-size: 13px;
    }
}

@media only screen and (max-width: 800px){
    nav{
        width: 100%;
    }

	.content{
		width: 100%;
	}

    footer{
        width: 100%;
    }

	.article-preview > div{
		height: 250px;
	}

	.img-section{
		display: none;
	}

	.text-section{
		top:40px;
		left: 7%;
		width: 90%;
	}

	.text-section .sub-heading{
		font-size: 20px;
		margin-top: 0;
	}

	.text-section .sub-heading:hover{
		font-size: 22px;
		margin-left: 5px;
	}

    .text-section p{
	    font-size: 15px;
		width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .first-section .img-section p{
	    display: none;
    }
}

